<div class="card">
  <div class="card-body">
    <h5 class="card-title">Valorización de jugadores:</h5>
    <h6 class="card-subtitle mb-2 text-muted">Funciones:</h6>
    <ul style="list-style-type: square">
    <li>Es posible la gestión de <b></b> (listar, crear, editar, eliminar) con la siguiente información: nombre, correo, teléfono, cédula y dirección.
    </li>
    <li>Es posible la gestión de <b></b> (listar, crear, editar, eliminar) con la siguiente información: matricula, marca, tipo moto, modelo, kilometros recorridos y precio de .
    </li>
    <li>Es posible la gestión de <b></b> (listar, crear, editar, eliminar) con la siguiente información: fecha de , fecha de entrega, cliente, moto.
    </li>
    <li>Es posible  listar y crear <b></b> con la siguiente información: d y kilometros finales de la moto.
    </li>
  </ul>
  <h6 class="card-subtitle mb-2 text-muted">Resticciones:</h6>
  <ol>
    <li>El  de la motocicleta se podrá realizar por un máximo de 5 días.
    </li>
    <li>La reserva debe realizarse con un tiempo mínimo de 2 días de anticipación.
    </li>
    <li>Si la reserva incluye fines de semana (sábado o domingo), el costo aumentará un 15%.
    </li>
    <li>Si durante el  de la motocicleta se supera un limite de 400KM recorridos, el valor a pagar al realizar la devolución se incrementara un 10%.
    </li>
  </ol>
  </div>
</div>
