<!-- <app-toolbar></app-toolbar> -->
<app-navbar [items]='companies'></app-navbar>

<div class="content-wrapper mt-2">
  <app-breadcrumbs></app-breadcrumbs>

  <!-- Main content -->
  <section class="content">
      <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <router-outlet></router-outlet>
          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End fluid  -->
      <!-- ============================================================== -->
  </section>
  <!-- ============================================================== -->
  <!-- End wrapper  -->
  <!-- ============================================================== -->

</div>


