<div class="col d-flex justify-content-center">
    <div class="row align-card-top">    
        <div class="card">
            <img src="assets/png/jugador-de-futbol.png" class="card-img-top align-img">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                    <p class="card-text"><strong>Nombre:</strong> {{jugador.nombre}}</p>
                    <p class="card-text"><strong>Edad:</strong> {{jugador.edad}}</p>
                    <h5 class="card-title">Valor: {{ jugador.valorizacion | currency:'$':'symbol' }}</h5>                               
                    <p class="card-text"><strong>Equipo Actual:</strong> {{jugador.equipoFutbol}}</p>
                    <p class="card-text"><strong>Minutos jugados:</strong> {{jugador.minutosJugados}}</p>
                    <p class="card-text"><strong>Goles:</strong> {{jugador.goles}}</p>
                    </div>
                    <div class="col-6">
                    <p class="card-text"><strong>Torneos ganados:</strong> {{jugador.torneoGanados}}</p>                   
                    <p class="card-text"><strong>Inicio temporada:</strong> {{jugador.fechaInicioTemporada | date: 'yyyy-MM-dd'}}</p>
                    <p class="card-text"><strong>Fin temporada:</strong> {{jugador.fechaFinTemporada | date: 'yyyy-MM-dd'}}</p>
                    <p class="card-text"><strong>Fecha valorización:</strong> {{jugador.fechaValorizacion | date: 'yyyy-MM-dd'}}</p> 
                    </div>
                </div>  
                <div class="row mt-4">
                    <button type="button" class="btn btn-danger mr-2" (click)="regresar()" id="regresar">
                      <i class="fa fa-undo"></i> Regresar
                    </button>
                    <button class="btn btn-info mr-2" title="Valorizar" data-toggle="modal" data-target="#valorizar" id="modalValorizar">
                        <i class="fa fa-money"></i> Valorizar
                        </button>
                        <button class="btn btn-info" title="Calificar" data-toggle="modal" data-target="#calificar" id="modalCalificar">
                            <i class="fa fa-star"></i> Calificar
                        </button>
                  </div>   
            </div>
        </div>
    </div>
</div>

<app-modal [modalForm]="jugadorForm" [titulo]="'Valorizar jugador'" 
[descripcion]="'Digita el nuevo valor del jugador de acuerdo a sus caracteristicas.'" 
[idmodal]="'valorizar'"
[minutosTypeInput]="'hidden'"
[torneosTypeInput]="'hidden'"
[golesTypeInput]="'hidden'"
[valorizarTypeInput]="'number'"
(eventoBotonRegistrar)="valorizarJugador($event)"
(eventoBotonRegresar)="regresar()"></app-modal>

<app-modal [modalForm]="calificarForm" [titulo]="'Calificar jugador'" 
[descripcion]="'Parámetros necesarios para realizar la calificación.'" 
[idmodal]="'calificar'"
[valorizarTypeInput]="'hidden'"
[minutosTypeInput]="'number'"
[torneosTypeInput]="'number'"
[golesTypeInput]="'number'"
(eventoBotonRegistrar)="calificarJugador($event)"
(eventoBotonRegresar)="regresar()"></app-modal>
